
html{
  font-family: "League Spartan", sans-serif !important;
  scroll-behavior: smooth;
  width: 100%;
}
body {
  margin: 0 !important;
  height: 100%;
  background-color: var(--background-color);

  -moz-osx-font-smoothing: "antialiased";
  -ms-overflow-style: none;
}
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #686882;
  border: 3px solid var(--background-color);
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  background: var(--background-color);
}

.section {
  min-height: 100vh;
  /* color: #f5f3f5; */
  display: flex;
  align-items: center;
  justify-content: center;
}
